description = "default footer"
==
<!-- PARENT: footer#layout-footer -->
<div class="container">
    <div class="color-bar-cont">
        <div class="color-bar bg-sec-color-light"></div>
        <div class="color-bar green-t"></div>
        <div class="color-bar yellow-t"></div>
        <!-- <div class="color-bar"></div> -->
        <div class="clear"></div>
    </div><!-- color-bar-cont -->

        <p class="footer white-text center-align">Copyright © 2017 Tengerszem Óvóda. Minden jog fenntartva.</p>
        <p class="footer white-text center-align">Weboldal készítés: <a href="http://arteriaweb.hu">arteriaweb</a></p>
</div>
