
@font-face {
  font-family: 'Sarina-Regular';
  src: url('Sarina-Regular.eot?#iefix') format('embedded-opentype'),  url('Sarina-Regular.woff') format('woff'), url('Sarina-Regular.ttf')  format('truetype'), url('Sarina-Regular.svg#Sarina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
